/* FONTS  */


@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  background-color: #F1F1F1;
  font-family: 'Muller', 'Nunito', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}



/* VARIABLES  */



:root {
  --yellow-default: #CC9933;
  --yellow-light: #F0BF5F;
  --yellow-dark: #A47312;

  --grey-light: #666666;
  --grey-dark: #333333;

  --black: #000000;
}




/* CONTAINER  */




.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto 70px;
  /* outline: 1px solid #ec0b1e; */
}




/* HEADER */



.header-container {
  padding-top: 30px;
}

.header-login-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-left-block {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo-image {
  vertical-align: middle;
}

.header-phone {
  font-weight: 500;
  font-size: 20px;
  color: var(--grey-light);
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.header-phone:focus {
  outline: 1px solid var(--yellow-default);
  outline-offset: 5px;
  color: var(--yellow-default);
}

.header-phone:hover {
  color: var(--yellow-default);
}

.header-phone:active {
  color: var(--yellow-dark);
  outline: none;
}

.header-login {
  display: block;
  align-items: first baseline;
  gap: 7px;
  font-size: 16px;
  font-weight: 400;
  color: var(--yellow-default);
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.login-img {
  fill: var(--yellow-default);
  transition: fill 0.3s ease-in-out;
}

.header-login:focus {
  color: var(--yellow-default);
  fill: var(--yellow-default);
  outline: 1px solid var(--yellow-default);
  outline-offset: 5px;
}

.header-login:hover,
.header-login:hover .login-img {
  color: var(--yellow-light);
  fill: var(--yellow-light);
}

.header-login:active {
  color: var(--yellow-dark);
  outline: none;
}

.header-nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 14px 45px;
  border-radius: 15px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 642px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-weight: 400;
  font-size: 16px;
  color: var(--grey-light);
}

.nav-link {
  transition: color 0.3s ease-in-out;
}

.nav-link:focus {
  outline: 1px solid var(--yellow-default);
  outline-offset: 5px;
  color: var(--yellow-default);
}

.nav-link:hover {
  color: var(--yellow-default);
}

.nav-link:active {
  color: var(--yellow-dark);
  outline: none;
}

.nav-buttons {
  display: flex;
  gap: 40px;
}

.button {
  display: block;
  width: max-content;
  font-weight: 400;
  font-size: 16px;
  padding: 13px 20px;
  gap: 10px;
  border: 1px solid var(--yellow-default);
  border-radius: 10px;
  color: var(--yellow-default);
  background-color: #fff;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button:focus {
  color: #fff;
  background-color: var(--yellow-default);
}

.button:hover {
  color: #fff;
  background-color: var(--yellow-default);
}

.button:active {
  color: #fff;
  background-color: var(--yellow-dark);
  border: 1px solid var(--yellow-dark);

}

.section-title {
  margin: 0 0 20px 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--grey-dark);
}



/* SPECIALS SECTION  */



.specials-wrapper {
  display: flex;
  justify-content: space-between;
}

.specials-side-block {
  display: flex;
  flex-direction: column;
  width: 573px;
}

.specials-block {
  width: 100%;
  min-height: 258px;
  flex-grow: 1;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}

.specials-block:not(:last-child) {
  margin-bottom: 24px;
}

.specials-left-up {
  position: relative;
  background-image: url('../img/specials/1.jpg');
  z-index: 1;
}

.specials-left-up::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px;
  z-index: -1;
}

.specials-left-down {
  position: relative;
  background-image: url('../img/specials/2.png');
  z-index: 1;
}

.specials-left-down::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px;
  z-index: -1;
}

.specials-right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 210px 230px 40px 45px;
  background-image: url('../img/specials/3.jpg');
}

.block-title {
  width: 420px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  margin: 0 0 15px 0;
}

.right-block-title {
  width: 299px;
  font-size: 60px;
  line-height: 60px;
}

.block-subtitle {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 0 0 50px 0;
}

.right-block-subtitle {
  font-size: 30px;
  line-height: 30px;
}


.link-more {
  display: flex;
  align-content: center;
  width: max-content;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  color: var(--yellow-light);
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.link-more svg {
  transition: margin 0.3s ease-in-out;
}

.link-more:focus {
  color: var(--yellow-light);
}

.link-more:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--yellow-light);
  outline-offset: 8px;
}

.link-more:hover {
  color: var(--yellow-light);
  padding-right: 10px;
}

.link-more:hover svg {
  margin-left: 10px;
}

.link-more:active {
  color: #fff;
}



/* ABOUT */



.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black);
  margin: 0;
  width: 888px;
}



/* SERVICES */



.services-content-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.services-content-list-item {
  position: relative;
  list-style: none;
  border-radius: 15px;
  background-color: #fff;
  width: 573px;
  padding: 190px 125px 35px 45px;
  background-repeat: no-repeat;
  margin: 0 24px 24px 0;
}

.services-content-list-item:nth-child(2n) {
  margin-right: 0;
}

.services-content-list-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.services-item-bg-first {
  background-image: url('../img/services/1.jpg');
}

.services-item-bg-second {
  background-image: url('../img/services/2.jpg');
}

.services-item-bg-third {
  background-image: url('../img/services/3.jpg');
}

.services-item-bg-fourth {
  background-image: url('../img/services/4.jpg');
}

.services-content-title {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  color: var(--yellow-default);
  margin: 0 0 10px 0;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.services-content-title svg {
  transition: margin 0.3s ease-in-out;
}

.services-content-title:focus {
  color: var(--yellow-default);
}

.services-content-title:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--yellow-light);
  outline-offset: 8px;
}

.services-content-title:hover {
  color: var(--yellow-light);
}

.services-content-title:hover svg {
  margin-left: 10px;
}

.services-content-title:active {
  color: var(--yellow-dark);
}

.services-content-title svg path {
  stroke: var(--yellow-default);
  transition: stroke 0.3s ease-in-out;
}

.services-content-title:focus svg path {
  stroke: var(--yellow-default);
}

.services-content-title:hover svg path {
  stroke: var(--yellow-light);
}

.services-content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black);
  width: 402px;
  margin: 0;
}

/* BENEFITS */

.benefits-container {
  margin-bottom: 48px;
}

.benefits-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.benefits-block {
  width: 276px;
  margin: 0 22px 22px 0;
  padding: 116px 42px 32px 45px;
  border-radius: 15px;
  background: #FFFFFF;
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.benefits-block:nth-child(4n) {
  margin-right: 0;
}

/* .benefits-block:nth-last-child(-n +4) {
  margin-bottom: 0;
} */

.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black);
  width: 189px;
  margin: 0;
}

.benefits-block-icon-1 {
  background-image: url('../img/benefits/1.svg');
}

.benefits-block-icon-2 {
  background-image: url('../img/benefits/2.svg');
}

.benefits-block-icon-3 {
  background-image: url('../img/benefits/3.svg');
}

.benefits-block-icon-4 {
  background-image: url('../img/benefits/4.svg');
}

.benefits-block-icon-5 {
  background-image: url('../img/benefits/5.svg');
}

.benefits-block-icon-6 {
  background-image: url('../img/benefits/6.svg');
}

.benefits-block-icon-7 {
  background-image: url('../img/benefits/7.svg');
}

.benefits-block-icon-8 {
  background-image: url('../img/benefits/8.svg');
}




/* PLACING  */




.placing-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.placing-block {
  display: flex;
  flex-direction: column;
  width: 374px;
  min-height: 440px;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  overflow: hidden;
}

.placing-price-rate-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.placing-price {
  margin: 0;
}

.ot {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.price {
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
  margin-right: 5px;
}

.placing-rate img {
  margin: 0;
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
}

.placing-rate img:hover {
  scale: 1.3;
}

.placing-text {
  margin: 0 0 16px 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

.placing-location {
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.placing-content {
  padding: 30px 45px 45px 45px;
}

.ends-block {
  position: relative;
  padding: 30px 50px 30px 50px;
  background-image: url('../img//placing/9.jpg');
  background-size: cover;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1;
}

.ends-block::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px;
  z-index: -1;
}

.placing-content-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.placing-content-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  margin-top: auto;
}



/* TOUR SEARCH  */



.tour-search-wrapper {
  border-radius: 15px;
  margin: 0 auto;
  padding: 45px;
  background-color: #E9E9E9;
}

.tour-search-title {
  margin-left: 0;
}

.tour-search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 32px 28px;
}

.form-label {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}

.input-title {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--black);
  margin-bottom: 15px;
  padding-left: 3px;
}

.form-input {
  border: none;
  background-color: #fff;
}

.select {
  width: 170px;
}

.with-numbers {
  border-bottom: 1px solid #E9E9E9;
}

.with-date,
.with-numbers {
  width: 120px;
}

.form-btn {
  min-width: 108px;
}



/* CONTACTS  */



.contacts-container {
  margin-bottom: 40px;
}

.contacts-wrapper {
  display: flex;
  padding: 45px;
  border-radius: 15px;
  background-color: #fff;
}

.contacts-wrapper::after {
  content: '';
  width: 653px;
  border-radius: 15px;
  background-image: url('../img/contacts/contacts-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-main-block {
  width: 375px;
  margin: 0;
  padding: 0;
  margin-right: 52px;
}

.contacts-main-block-list {
  margin: 0;
  padding: 0;
}

.contacts-block {
  display: flex;
  width: 375px;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 25px;
}

.contacts-block:last-of-type {
  margin-bottom: 45px;
}

.contacts-title {
  min-width: 98px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  margin-right: 47px;
  padding: 0;
  color: var(--black);
}

.contacts-descr {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

/* .contacts-descr-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
} */

.address-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  width: 210px;
}

.contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  width: max-content;
  color: var(--yellow-default);
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.contacts-phone:last-child {
  margin-bottom: 0;
}

.contacts-phone:focus {
  color: var(--yellow-default);
  outline: 1px solid var(--yellow-default);
  outline-offset: 5px;
}

.contacts-phone:hover {
  color: var(--yellow-light);
}

.contacts-phone:active {
  color: var(--yellow-dark);
  outline: none;
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  width: max-content;
  color: var(--yellow-default);
  margin-bottom: 8px;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.contacts-email:last-child {
  margin-bottom: 0;
}

.contacts-email:focus {
  color: var(--yellow-default);
  outline: 1px solid var(--yellow-default);
  outline-offset: 5px;
}

.contacts-email:hover {
  color: var(--yellow-light);
}

.contacts-email:active {
  color: var(--yellow-dark);
  outline: none;
}

.contacts-email-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  color: #999999;
}

.contacts-email-subtitle:last-child {
  margin-bottom: 0;
}

.contacts-graph-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

.contact-btn {
  padding: 27px 30px;
}


/* FOOTER  */


.footer-container {
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin-bottom: 30px;
  padding: 45px;
  border-radius: 15px;
  background-color: var(--grey-dark);
  background-image: url('../img/icons/logo-footer.svg');
  background-repeat: no-repeat;
  background-position-x: 739px;
  background-position-y: bottom;
}

.footer-info-block {
  width: 302px;
  margin-right: 125px;
}

.footer-contacts-block {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-right: 268px;
}

.footer-info-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.footer-info-disclaimer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
}

.agreement {
  line-height: 150%;
  color: var(--yellow-default);
  margin: 0;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.agreement:focus {
  color: var(--yellow-default);
  outline: 1px solid var(--yellow-default);
  outline-offset: 5px;
}

.agreement:hover {
  color: var(--yellow-light);
}

.agreement:active {
  color: var(--yellow-dark);
  outline: none;
}

.footer-contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.footer-contacts-phone {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.footer-contacts-email {
  display: flex;
  flex-direction: column;
}

.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--yellow-default);
}

.footer-contacts:last-child {
  margin-bottom: 0;
}

.footer-icons-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .footer-icon {
  position: relative;
  z-index: 1;
} */

/* .footer-icon::after {
  content: "";
  position: absolute;
  top: -11.7px;
  left: 1px;
  border-radius: 100%;
  width: 23px;
  height: 23px;
  background-color: var(--grey-dark);
  z-index: -1;
  transition: background-color 0.3s ease-in-out;
} */

/* .footer-icon:hover::after {
  background-color: #fff;
} */

.footer-icon svg path {
  fill: #999999;
  transition: fill 0.3s ease-in-out;
}

.footer-icon:focus svg path {
  fill: var(--yellow-default);
}

.footer-icon:hover svg path {
  fill: var(--yellow-default);
}

.footer-icon:active svg path {
  fill: var(--yellow-dark);
}